@{
    ViewData["Title"] = "Sign Up Form";
}

@model Mission12Final.Models.AppointmentResponse

<h1>Sign Up for a Temple Tour</h1>

<form method="post" class="form-group">
    <label asp-for="GroupName">Name of Group: </label>
    <input asp-for="GroupName" class="form-control" />
    <br />

    <label asp-for="GroupSize">Size of Group (1-15): </label>
    <input type="number" asp-for="GroupSize" class="form-control" />
    <br />

    <label asp-for="Email">Email(xx@xx.com): </label>
    <input asp-for="Email" class="form-control" />
    <br />

    <label asp-for="Phone">Phone(xxx-xxx-xxxx): </label>
    <input asp-for="Phone" class="form-control" />
    <br />

    <input type="hidden" asp-for="Date" class="form-control" disabled value="@ViewBag.CurDate" />
    <input type="hidden" asp-for="Time" class="form-control" disabled value="@ViewBag.AppTime">

    <button class="btn btn-primary" type="submit">Submit</button>
    <div asp-validation-summary="All;"></div>
    @if (ViewBag.New == false)
        {
            <input type="hidden" asp-for="AppointmentId" />
        }
</form>